---
import Layout from "@/components/Layout.astro";


---
<Layout>

  <div class="flex h-screen">
    <aside class="w-16 bg-[#111] flex flex-col items-center py-4 space-y-8"> 
      <!-- Menu Icon -->
      <div class="text-gray-400 hover:text-white cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
  
      <!-- Lock Icon -->
      <div class="text-white hover:text-white cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
        </svg>
      </div>
  
      <!-- Repeat for other icons -->
      <div class="text-white hover:text-white cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
  
      <div class="text-white hover:text-white cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
        </svg>
      </div>
    </aside>
  
  

<main class="max-w-screen-md prose p-4 md:p-12 ml-16">
  <h1>Lorem ipsum dolor sit amet.</h1>
  <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste rerum nam, explicabo illum molestiae repudiandae!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, maiores nesciunt a tenetur perferendis soluta molestias. Harum molestiae fugiat excepturi beatae consequuntur, quo accusantium praesentium doloribus culpa consectetur totam optio.</p>

  
</main>
</div>
</Layout>