---
import Layout from "@/components/Layout.astro";
import NotionQuote from "@/components/NotionQuote.astro";
import ServerIslandTest from "@/components/ServerIslandTest.astro";
---

<Layout>
	<div class="grid place-items-center h-screen font-thin text-xl">
		<h1>Jaga Santagostino's digital garden 🌱</h1>
	</div>
	
	<a href="/articles" class="text-blue-700 underline visited:text-purple-900">Articles</a>

	<ServerIslandTest server:defer>
		<p slot="fallback">Loading...</p >
		</ServerIslandTest>	

		<h2>
			A random quote form my collection
		</h2>
		<NotionQuote server:defer />
</Layout>

